body, html {
    height: 100%;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
}

#up:hover,
#down:hover,
#left:hover,
#right:hover,
.ab>*:hover {
    cursor: pointer;
}

#center:hover {
    cursor: default;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    width: 100%;
    height: 10%;
}

/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.status {
    margin-bottom: 10px;
}

.square {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgb(75, 72, 72);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.game {
    background-color: rgb(63, 60, 60); 
    border-radius: 120px;
}

.game-board {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    flex-direction: column;
}

#dpad {
    padding-right: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top,
#mid,
#bottom {
    display: flex;
}


.empty {
    height: 50px;
    width: 50px;
}

#center {
    height: 50px;
    width: 50px;
    background-color: lightgrey;
    color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-weight: bolder;
    border-bottom: 5px solid lightgrey;
}

#left,
#right,
#up,
#down {
    font-weight: bolder;
    height: 50px;
    width: 50px;
    background-color: lightgrey;
    color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#up {
    border-radius: 5px 5px 0px 0px;
    border-top: 5px outset darkgrey;
    border-right: 5px outset darkgrey;
}

#down {
    border-radius: 0px 0px 5px 5px;
    border-right: 5px outset darkgrey;
}

#left {
    border-radius: 5px 0px 0px 5px;
    border-top: 5px outset darkgrey;
}

#right {
    border-radius: 0px 5px 5px 0px;
    border-top: 5px outset darkgrey;
    border-right: 5px outset darkgrey;
}

.ab {
    padding-left: 20px;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.ab > * {
    border: 5px outset darkgrey;
    color: grey;
    background-color: lightgrey;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px;
}

.a {
    margin-bottom: 10px;
    align-self: flex-start;
}