body {
    height: 100%;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(indigo, rgb(49, 0, 83));
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#up:hover,
#down:hover,
#left:hover,
#right:hover,
.ab>*:hover {
    cursor: pointer;
}

#center:hover {
    cursor: default;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    width: 100%;
    height: 10%;
}

/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.status {
    margin-bottom: 10px;
}

.square {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgb(75, 72, 72);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

#gameContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#screenBackground {
    background-color: rgb(63, 60, 60); 
    border-bottom: 10px solid rgb(46, 46, 46);
    border-left: 10px solid rgb(46, 46, 46);
    border-radius: 120px;
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.game-board {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen {
    /* display: flex;
    flex-direction: column; */
}

#dpad {
    /* padding-right: 20px; */
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top,
#mid,
#bottom {
    display: flex;
}


.empty {
    height: 50px;
    width: 50px;
}

#center {
    height: 50px;
    width: 50px;
    background-color: lightgrey;
    color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-weight: bolder;
    font-size: 50px;
    border-bottom: 5px solid lightgrey;
    /* color: linear-gradient(darkgrey, lightgrey); */
}

#left,
#right,
#up,
#down {
    font-weight: bolder;
    height: 50px;
    width: 50px;
    background-color: lightgrey;
    color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#up {
    border-radius: 5px 5px 0px 0px;
    border-top: 5px outset darkgrey;
    border-right: 5px outset darkgrey;
    font-size: 30px;
}

#down {
    border-radius: 0px 0px 5px 5px;
    border-right: 5px outset darkgrey;
    font-size: 30px;
}

#left {
    border-radius: 5px 0px 0px 5px;
    border-top: 5px outset darkgrey;
    font-size: 20px;
}

#right {
    border-radius: 0px 5px 5px 0px;
    border-top: 5px outset darkgrey;
    border-right: 5px outset darkgrey;
    font-size: 20px;
}

.ab {
    padding-left: 20px;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.ab > * {
    border: 5px outset darkgrey;
    color: grey;
    background-color: lightgrey;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px;
}

.a {
    margin-bottom: 10px;
    align-self: flex-start;
}