body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: lightgrey;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgb(75, 72, 72);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.game {
    background-color: rgb(63, 60, 60); 
    border-radius: 120px;
}

.game-board {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dpad {
    padding-right: 20px;
}

.dpad > * {
    color: white;
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.ab {
    padding-left: 20px;
}

.ab > * {
    color: white;
    background-color: purple;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50px;
}